<div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
    
    <clr-vertical-nav>
        <a clrVerticalNavLink routerLink="analysis" routerLinkActive="active">Analysis</a>
        <a clrVerticalNavLink routerLink="images" routerLinkActive="active">Images</a>
        <a clrVerticalNavLink routerLink="videos" routerLinkActive="active">Videos</a>
        <a clrVerticalNavLink routerLink="broadcast" routerLinkActive="active">Broadcast</a>
    </clr-vertical-nav>
</div>